:host
  display: block
  font-family: 'Roboto', sans-serif

.dialog-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 2rem
  max-width: 360px
  border-radius: 2rem
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
  text-align: center


.g-icon-wrapper
  display: flex
  justify-content: center
  align-items: center
  background: #fbe9e7
  width: 72px
  height: 72px
  margin: 0 auto 1rem
  border-radius: 50%

.g-icon
  width: 32px
  height: 32px

.dialog-title
  font-size: 1.4rem
  font-weight: 600
  margin-bottom: 0.5rem
  color: #202124

.dialog-message
  font-size: 1rem
  color: #5f6368
  margin-bottom: 1.5rem

::ng-deep mat-dialog-content
  display: flex
  justify-content: center
  width: 100%

::ng-deep mat-dialog-actions
  display: flex
  justify-content: center
  gap: 1rem
  margin-top: 1rem

.btn
  min-width: 100px
  padding: 0.5rem 1rem
  border-radius: 8px
  font-weight: 500
  text-transform: uppercase
  font-size: 0.9rem

.cancel
  color: #5f6368

.delete
  background-color: #d93025
  color: white

  &:hover
    background-color: #b1271b

@keyframes bounce
  0%
    transform: translateY(0)
  100%
    transform: translateY(-8px)
