.location-input
  width: 100%
  font-family: 'Outfit', sans-serif

  mat-form-field
    width: 100%

  mat-label
    font-weight: 500
    color: var(--text-color)

  input
    font-size: 0.95rem

  mat-icon
    color: var(--primary-color)
    margin-right: 4px
