<div class="login-container" *ngIf="!isSignedIn">
  <div class="login-illustration"></div>

  <div class="login-form">
    <div class="form-box">
      <img class="logo-icon" src="assets/img/logo.png" alt="Logo" />

      <h3>{{ isSignup ? "Create an Account" : "Welcome Back" }}</h3>
      <p class="sub-text">
        {{ isSignup ? "Sign up to get started" : "Login to continue" }}
      </p>

      <form
        #authForm="ngForm"
        autocomplete="off"
        (ngSubmit)="
          isSignup
            ? onSignup(email, password, confirmPassword)
            : onSignin(email, password)
        "
      >
        <div class="form-grid" *ngIf="isSignup">
          <div class="input-group">
            <label for="fullName">Full Name</label>
            <input
              type="text"
              id="fullName"
              name="fullName"
              [(ngModel)]="fullName"
              placeholder="John Doe"
              required
            />
          </div>

          <div class="input-group">
            <label for="birthDate">Date of Birth</label>
            <input
              type="date"
              id="birthDate"
              name="birthDate"
              [(ngModel)]="birthDate"
              required
            />
          </div>
        </div>

        <div class="input-group full-width">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            autocomplete="email"
            placeholder="example@mail.com"
          />
        </div>

        <div class="input-group full-width password-group">
          <label for="password">Password</label>
          <div class="input-wrapper">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
              autocomplete="current-password"
              placeholder="Enter your password"
            />
            <button
              type="button"
              class="toggle-password"
              (click)="togglePasswordVisibility()"
              aria-label="Toggle Password Visibility"
            >
              <mat-icon>{{
                passwordVisible ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </div>
        </div>

        <div class="input-group full-width" *ngIf="isSignup">
          <label for="confirmPassword">Confirm Password</label>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
            placeholder="Confirm your password"
          />
        </div>

        <div class="options-row" *ngIf="!isSignup">
          <label class="checkbox-container">
            <input type="checkbox" name="rememberMe" />
            <span class="checkmark"></span>
            Remember Me
          </label>
          <a
            class="forgot"
            *ngIf="showForgotPasswordLink"
            (click)="onForgotPassword(email)"
            >Forgot Password?</a
          >
        </div>

        <button class="login-btn" [disabled]="isLoading" type="submit">
          {{ isSignup ? "Sign up" : "Login" }}
        </button>

        <p class="switch-auth">
          {{ isSignup ? "Already have an account?" : "Not Registered Yet?" }}
          <a (click)="toggleSignup()">{{
            isSignup ? "Login" : "Create an account"
          }}</a>
        </p>
      </form>

      <div class="loader" *ngIf="isLoading"></div>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoading" [message]="'WELCOME'"></app-loader>
<div *ngIf="showSuccess || showError" class="alert-overlay"></div>
<div class="alert-container" *ngIf="showSuccess || showError">
  <app-successful-alert
    *ngIf="showSuccess"
    [message]="successMessage"
  ></app-successful-alert>
  <app-error-alert *ngIf="showError" [message]="errorMessage"></app-error-alert>
</div>

<app-sheintable *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-sheintable>
