$primary-color: #0ea5e9
$secondary-color: #f8fafc
$accent-color: #020617

.card
  margin-left: -1rem
  margin-right: -1rem
  display: flex
  flex-wrap: wrap
  align-items: stretch
  margin-bottom: 2rem
  width: 320px
  flex-direction: column
  border-radius: 1rem
  background-color: $accent-color
  padding: 1.5rem

  header
    display: flex
    flex-direction: column

  .title
    font-size: 1.2rem
    line-height: 2rem
    font-weight: 700
    color: rgba($secondary-color, 0.56)

  .price
    font-size: 3.75rem
    line-height: 1
    font-weight: 700
    color: $secondary-color

  .desc
    margin-top: 0.75rem
    margin-bottom: 0.75rem
    line-height: 1.625
    color: rgba($secondary-color, 0.56)

  .lists
    margin-bottom: 1.5rem
    flex: 1 1 0%
    color: rgba($secondary-color, 0.56)

    .list
      margin-bottom: 0.5rem
      display: flex
      margin-left: 0.5rem

      svg
        height: 1.5rem
        width: 1.5rem
        flex-shrink: 0
        margin-right: 0.5rem
        color: $primary-color

  .action
    border: none
    outline: none
    display: inline-block
    border-radius: 0.5rem
    background-color: $primary-color
    padding: 0.75rem 1.25rem
    text-align: center
    font-weight: 600
    letter-spacing: 0.05em
    color: $secondary-color
    cursor: pointer
    transition: all 0.3s ease-in-out

    &:hover
      background-color: darken($primary-color, 15%)
