<app-navigation></app-navigation>

<section
  class="client-detail-container"
  *ngIf="client$ | async as client; else loading"
>
  <mat-card class="client-card">
    <mat-card-header>
      <mat-card-title>{{
        "clientDetails" | translate : { name: client.fullName }
      }}</mat-card-title>
      <mat-card-subtitle>{{ client.location }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <strong>{{ "phone" | translate }}:</strong> {{ client.phoneNumber }}
        </mat-list-item>
        <mat-list-item>
          <strong>{{ "otherPhone" | translate }}:</strong>
          {{ client.OtherPhoneNumber || ("notAvailable" | translate) }}
        </mat-list-item>
        <mat-list-item>
          <strong>{{ "address" | translate }}:</strong> {{ client.address }}
        </mat-list-item>
        <mat-list-item>
          <strong>{{ "address2" | translate }}:</strong>
          {{ client.address2 || ("notAvailable" | translate) }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h3 class="section-title">
    {{ "ordersFor" | translate : { name: client.fullName } }}
  </h3>
  <div *ngIf="orders$ | async as orders; else noOrders">
    <mat-accordion multi>
      <!-- Add let i = index to get order number -->
      <mat-expansion-panel *ngFor="let order of orders; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <!-- Show Order number instead of order.id -->
            {{ "orderId" | translate : { id: i + 1 } }} &nbsp; - &nbsp;
          </mat-panel-title>
          <mat-panel-description>
            {{ "profit" | translate : { profit: calculateProfit(order) } }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>
            <strong>{{ "cost" | translate : { cost: order.cost } }} </strong>
          </mat-list-item>
          <mat-list-item>
            <strong>{{ "quantity" | translate }}:</strong> {{ order.quantity }}
          </mat-list-item>
          <mat-list-item>
            <strong>{{ "discount" | translate }}:</strong> {{ order.discount }}%
          </mat-list-item>
          <mat-list-item>
            <strong>{{ "delivery" | translate }}:</strong> ${{ order.delivery }}
          </mat-list-item>
          <mat-list-item>
            <strong>{{ "shippingCost" | translate }}:</strong> ${{
              order.shippingCost
            }}
          </mat-list-item>
          <mat-list-item>
            <strong>{{ "tax" | translate }}:</strong> ${{ order.tax }}
          </mat-list-item>
          <mat-list-item>
            <strong>{{ "choice" | translate }}:</strong> {{ order.choice }}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <ng-template #noOrders>
    <p>{{ "noOrders" | translate }}</p>
  </ng-template>

  <h3 class="section-title">Client Images</h3>
  <mat-card class="image-upload-card">
    <input
      type="file"
      accept="image/*"
      (change)="onImageSelected($event)"
      id="image-upload"
      hidden
    />
    <label
      mat-raised-button
      color="primary"
      for="image-upload"
      class="upload-label"
    >
      Upload Image
      <mat-icon>upload</mat-icon>
    </label>
  </mat-card>

  <div class="uploaded-images">
    <mat-grid-list cols="4" rowHeight="150px" gutterSize="12px">
      <mat-grid-tile *ngFor="let image of clientImages; let i = index">
        <mat-card class="image-card">
          <img mat-card-image [src]="image.url" alt="Client Image" />
          <mat-card-actions align="end">
            <button
              mat-icon-button
              color="primary"
              (click)="downloadImage(image.url, clientId + '-' + i + '.jpg')"
              aria-label="Download Image"
            >
              <mat-icon>download</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteImage(i)"
              aria-label="Delete Image"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-card class="upload-loader-card" *ngIf="isUploading">
    <div class="loader-icon-container">
      <mat-icon class="fade-icon">image</mat-icon>
      <p class="uploading-text">Uploading...</p>
    </div>
  </mat-card>
</section>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Loading client details...</p>
  </div>
</ng-template>

<app-footer></app-footer>
