<header class="navbar" [class.hidden]="isNavbarHidden">
  <div class="navbar__brand" (click)="navigateToHome()">SHEIN TRADERS</div>

  <button
    class="navbar__toggle"
    (click)="toggleMenu()"
    aria-label="Toggle menu"
  >
    <i class="material-icons">{{ isNavbarOpen ? "close" : "menu" }}</i>
  </button>

  <nav class="navbar__menu" [class.open]="isNavbarOpen">
    <a (click)="navigateToHome()" [class.active]="currentSection === 'home'">{{
      "NAV.HOME" | translate
    }}</a>
    <div class="dropdown-container">
      <button class="dropdown-btn" (click)="toggleClientsDropdown()">
        {{ "NAV.CLIENTS" | translate }}
        <i
          class="material-icons dropdown-icon"
          [class.rotated]="isClientsDropdownOpen"
          >expand_more</i
        >
      </button>
      <div class="dropdown-menu" [class.open]="isClientsDropdownOpen">
        <a
          (click)="navigateToClient()"
          [class.active]="currentSection === 'client'"
          >{{ "NAV.CLIENTS" | translate }}</a
        >
        <a
          (click)="navigateToList()"
          [class.active]="currentSection === 'clientsList'"
        >
          {{ "clientsList" | translate }}
        </a>
      </div>
    </div>

    <a
      (click)="navigateToAnalytics()"
      [class.active]="currentSection === 'analytics'"
      >{{ "NAV.ANALYTICS" | translate }}</a
    >
    <a
      (click)="navigateToAbout()"
      [class.active]="currentSection === 'about'"
      >{{ "NAV.ABOUT" | translate }}</a
    >

    <div class="dropdown-container">
      <button class="dropdown-btn" (click)="toggleDropdown()">
        {{ "NAV.SETTINGS" | translate }}
        <i class="material-icons dropdown-icon" [class.rotated]="isDropdownOpen"
          >expand_more</i
        >
      </button>

      <div class="dropdown-menu" [class.open]="isDropdownOpen">
        <a
          (click)="navigateToSettings()"
          [class.active]="currentSection === 'settings'"
          >{{ "NAV.SETTINGS" | translate }}</a
        >
        <a
          (click)="navigateToHistory()"
          [class.active]="currentSection === 'history'"
          >{{ "NAV.HISTORY" | translate }}</a
        >
      </div>
    </div>

    <button class="navbar__logout" (click)="logout()" aria-label="Log out">
      <i class="material-icons">logout</i>
    </button>
  </nav>
</header>
<app-loader *ngIf="isLoading" [message]="'Logging out...'"></app-loader>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
